@media (max-width: 450px ) {

    
    body{
        background-color: #fff;
    }   

    #banner-container{
        display:none;
    }


    #main-container,
    #form-box{
        margin-top: 0;
    }

    #form-container,
    #form-box,
    #register-container,
    #get-app-container{
        border: none;
        margin: 0 auto;
    }

    footer{
        width: 90%;
    }


    #footer-links {
      flex-wrap: wrap;
      justify-content: center;
      line-height: 25px;
      margin-bottom: 20px;
    }

}



